@charset "UTF-8";
/* General */
:root {
  --arch-linux-black-color: #1A1B26;
  --arch-linux-gray-color: #222331;
  --black-color: #000000;
  --gray-color: #0f0f12;
  --second-color-gray-1: #8b949e;
  --second-color-gray-2: #b3b3b3;
  --green-color: #98ca3f;
  --orange-color: #DEAC66;
  --yellow-color: #ebcb8b;
  --sky-blue-color: #79A4F5;
  --red-color: #EC728B;
  --purple-color: #6B77AD;
  --violet-color: #B798F3;
  --white-color: #ffffff;
  --white-color-opacity-1: rgba(255, 255, 255, 0.5);
  --white-color-opacity-2: #ADB3F2;
  --button-color-gradient: linear-gradient(to left, #439976, #90ad53);
  --prompt-color: #4c566a;
  --facebook-color: #1278F3;
  --second--color-facebook: #385899;
  --twitter-color: #1da1f2;
  --spotify-color: #1ed760;
  --deezer-color: #a238ff;
  --youtube-color: #ff0000;
  --soundcloud-color: #f50;
  --telegram-color: #2496ff;
  --github-color: #010409;
  --gitlab-color: #e65328;
  --linkedin-color: #0a66c2;
}
/* @font-face {
  font-family: "Roboto";
  src: url("./typography/Roboto/Roboto-Light.ttf");
} */
* {
  padding: 0;
  margin: 0;
}
body {
  background-color: var(--primary-color);
  font-family: "Roboto", sans-serif;
  font-size: 12px;
}
/* Arch Linux */
.arch-linux {
  display: grid;
  height: 100vh;
  grid-template-areas: "menu"
                      "workspace"
                      "music-player";
  background-image: url("./../img/wallpapers/storm.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  position: relative;
  transition: background-image 2s linear;
}

/** Menu **/
.arch-linux .menu {
  grid-area: menu;
  /* justify-self: center; */
  align-self: center;
  color: var(--white-color);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: var(--arch-linux-black-color);
  border-radius: 10px;
  margin: 10px;
  padding: 0.5rem 0.75rem;
}
@media (max-width: 768px) {
  .arch-linux .menu {
    padding: 0.5rem;
  }
}
.arch-linux .menu div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.arch-linux .menu svg {
  height: 18px;
}
.arch-linux .menu .set-1 .sub-menu-1 > div, .arch-linux .menu .set-2 .sub-menu-1, .arch-linux .menu .set-3 .sub-menu-1 > div {
  background-color: var(--arch-linux-gray-color);
  border-radius: 10px;
  padding: 0.5rem;
}
.arch-linux .menu .set-1 .arch-linux-logo, .arch-linux .menu .set-1 .sep-1, .arch-linux .menu .set-1 .sub-menu-1 > div {
  margin: 0 0.5rem 0 0;
}
.arch-linux .menu .set-1 .sep-1 svg {
  height: 14px;
  color: var(--white-color-opacity-2);
}
.arch-linux .menu .set-1 .sub-menu-1 .microchip svg {
  color: var(--green-color);
}
.arch-linux .menu .set-1 .sub-menu-1 .memory-ram svg {
  color: var(--sky-blue-color);
}
.arch-linux .menu .set-1 .sub-menu-1 .hard-drive svg {
  color: var(--orange-color);
}
@media (max-width: 768px) {
  .arch-linux .menu .set-1 {
    position: relative;
  }
  .arch-linux .menu .set-1 .sep-1 {
    display: none;
  }
  .arch-linux .menu .set-1 .arch-linux-logo {
    border-radius: 5px;
    padding: 0.25rem 0.5rem;
    margin: 0;
  }
  .arch-linux .menu .set-1 .arch-linux-logo:hover {
    background-color: var(--arch-linux-gray-color);
  }
  .arch-linux .menu .set-1 .sub-menu-1 {
    background-color: var(--arch-linux-black-color);
    border-radius: 10px;
    min-width: 100px;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: absolute;
    top: 40px;
    left: 0;
    z-index: 1;
    padding: 0.5rem;
  }
  .arch-linux .menu .set-1 .sub-menu-1 > div {
    margin: 0;
  }
  .arch-linux .menu .set-1 .sub-menu-1 > div:nth-child(2) {
    margin: 0.5rem 0;
  }
}
.arch-linux .menu .set-2 .desk, .arch-linux .menu .set-2 .sub-menu-1 > div {
  margin: 0 0.5rem;
}
.arch-linux .menu .set-2 .desk {
  display: none;
}
.arch-linux .menu .set-2 .sub-menu-1 .pacman svg {
  color: var(--orange-color);
  transform: rotate(45deg);
}
.arch-linux .menu .set-2 .sub-menu-1 .pac-dot svg {
  height: 12px;
  color: var(--purple-color);
}
.arch-linux .menu .set-2 .sub-menu-1 .ghost svg {
  color: var(--sky-blue-color);
}
@media (max-width: 1024px) {
  .arch-linux .menu .set-2 {
    position: relative;
  }
  .arch-linux .menu .set-2 .desk {
    display: flex;
    border-radius: 5px;
    padding: 0.25rem 0.5rem;
  }
  .arch-linux .menu .set-2 .desk:hover {
    background-color: var(--arch-linux-gray-color);
  }
  .arch-linux .menu .set-2 .sub-menu-1 {
    background-color: var(--arch-linux-black-color);
    display: none;
    position: absolute;
    top: 40px;
    left: -71.125px;
    z-index: 1;
  }
}
.arch-linux .menu .set-3 .options, .arch-linux .menu .set-3 .sub-menu-1 > div {
  margin: 0 0 0 0.5rem;
}
.arch-linux .menu .set-3 .options {
  display: none;
}
.arch-linux .menu .set-3 .sub-menu-1 .song svg {
  color: var(--green-color)
}
.arch-linux .menu .set-3 .sub-menu-1 .wifi svg {
  color: var(--green-color);
}
.arch-linux .menu .set-3 .sub-menu-1 .vol svg {
  color: var(--violet-color);
}
.arch-linux .menu .set-3 .sub-menu-1 .calendar svg {
  color: var(--sky-blue-color);
}
.arch-linux .menu .set-3 .sub-menu-1 .power-off svg {
  color: var(--red-color);
}
@media (max-width: 768px) {
  .arch-linux .menu .set-3 {
    position: relative;
  }
  .arch-linux .menu .set-3 .options {
    display: flex;
    border-radius: 5px;
    padding: 0.25rem 0.5rem;
    margin: 0;
  }
  .arch-linux .menu .set-3 .options:hover {
    background-color: var(--arch-linux-gray-color);
  }
  .arch-linux .menu .set-3 .sub-menu-1 {
    background-color: var(--arch-linux-black-color);
    border-radius: 10px;
    min-width: 100px;
    display: none;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    position: absolute;
    top: 40px;
    left: -100px;
    z-index: 1;
    padding: 0.5rem;
  }
  .arch-linux .menu .set-3 .sub-menu-1 > div {
    width: 100%;
    margin: 0.25rem 0;
  }
}

/** Workspace **/
.arch-linux .workspace {
  grid-area: workspace;
  align-content: center;
  margin: 10px;
}
/*** Terminal ***/
.arch-linux .workspace .terminal {
  max-width: 50%;
  background-color: #1A1B26BB;
  backdrop-filter: blur(5px);
  border-radius: 10px;
  padding: 0.5rem;
  margin: 0 auto;
  transition: max-width 0.25s linear;
}
@media (max-width: 425px) {
  .arch-linux .workspace .terminal {
    max-width: 90%;
  }
}
@media (max-width: 1024px) and (min-width: 425px) {
  .arch-linux .workspace .terminal {
    max-width: 60%;
  }
}
.arch-linux .workspace .terminal .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.25rem;
}
.arch-linux .workspace .terminal .header .title {
  color: var(--white-color);
}
.arch-linux .workspace .terminal .header div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.arch-linux .workspace .terminal .header .control-buttons > div svg {
  height: 16px;
}
.arch-linux .workspace .terminal .header .control-buttons .maximize {
  margin: 0 0.5rem;
}
.arch-linux .workspace .terminal .header .control-buttons .minimize svg {
  color: var(--yellow-color);
}
.arch-linux .workspace .terminal .header .control-buttons .maximize svg {
  color: var(--green-color);
}
.arch-linux .workspace .terminal .header .control-buttons .close svg {
  color: var(--red-color);
}
.arch-linux .workspace .terminal .information {
  max-height: 300px;
  overflow-y: auto;
  padding: 0.25rem;
}
.arch-linux .workspace .terminal .information::-webkit-scrollbar {
  display: none;
}
.arch-linux .workspace .terminal .information .first-part {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.arch-linux .workspace .terminal .information .first-part .avatar {
  display: flex;
  justify-content: center;
  align-items: center;
}
.arch-linux .workspace .terminal .information .first-part .avatar img {
  border-radius: 50%;
  transition: width 0.25s linear;
}
@media (max-width: 425px) {
  .arch-linux .workspace .terminal .information .first-part .avatar img {
    width: 125px;
  }
}
.arch-linux .workspace .terminal .information .first-part > div {
  flex-grow: 1;
}
.arch-linux .workspace .terminal .information .first-part > div .presentation {
  text-align: center;
}
.arch-linux .workspace .terminal .information .first-part > div .presentation .name {
  font-size: 20px;
  color: var(--white-color);
  margin: 0.25rem;
}
.arch-linux .workspace .terminal .information .first-part > div .presentation .username {
  font-size: 15px;
  font-weight: normal;
  color: var(--white-color-opacity-1);
}
.arch-linux .workspace .terminal .information .first-part > div .presentation .description {
  margin: 0.25rem;
}
.arch-linux .workspace .terminal .information .first-part > div .presentation .description p {
  font-size: 16px;
  color: var(--white-color);
}
.arch-linux .workspace .terminal .information .first-part > div .social-networks {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
  align-items: center;
}
.arch-linux .workspace .terminal .information .first-part > div .social-networks li {
  margin: 0.25rem;
}
.arch-linux .workspace .terminal .information .first-part > div .social-networks li a {
  font-size: 16px;
  color: var(--white-color);
  text-decoration: none;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 0.75rem;
  transition: all 0.25s linear;
}
.arch-linux .workspace .terminal .information .first-part > div .social-networks li a svg {
  height: 18px;
}
.arch-linux .workspace .terminal .information .first-part > div .social-networks .facebook a:hover {
  background-color: var(--second--color-facebook);
}
.arch-linux .workspace .terminal .information .first-part > div .social-networks .twitter a:hover {
  background-color: var(--twitter-color);
}
.arch-linux .workspace .terminal .information .first-part > div .social-networks .spotify a:hover {
  background-color: var(--spotify-color);
}
.arch-linux .workspace .terminal .information .first-part > div .social-networks .deezer a:hover {
  background-color: var(--deezer-color);
}
.arch-linux .workspace .terminal .information .first-part > div .social-networks .youtube a:hover {
  background-color: var(--youtube-color);
}
.arch-linux .workspace .terminal .information .first-part > div .social-networks .soundcloud a:hover {
  background-color: var(--soundcloud-color);
}
.arch-linux .workspace .terminal .information .first-part > div .social-networks .telegram a:hover {
  background-color: var(--telegram-color);
}
.arch-linux .workspace .terminal .information .first-part > div .social-networks .github a:hover {
  background-color: var(--github-color);
}
.arch-linux .workspace .terminal .information .first-part > div .social-networks .gitlab a:hover {
  background-color: var(--gitlab-color);
}
.arch-linux .workspace .terminal .information .first-part > div .social-networks .linkedin a:hover {
  background-color: var(--linkedin-color);
}
/* .arch-linux .workspace .terminal .information .prompt {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--white-color);
  margin: 0.5rem 0 0 0;
}
.arch-linux .workspace .terminal .information .prompt > div, .arch-linux .workspace .terminal .information .prompt > div > div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.arch-linux .workspace .terminal .information .prompt > div > div {
  margin: 0 0.25rem;
}
.arch-linux .workspace .terminal .information .prompt > div > div svg {
  height: 18px;
}
.arch-linux .workspace .terminal .information .prompt .left-side, .arch-linux .workspace .terminal .information .prompt .right-side {
  background-color: var(--prompt-color);
  padding: 0.25rem;
}
.arch-linux .workspace .terminal .information .prompt .left-triangle {
  width: 0;
  height: 0;
  border-left: 30px solid var(--prompt-color);
  border-top: 13px solid transparent;
  border-bottom: 13px solid transparent;
}
.arch-linux .workspace .terminal .information .prompt .line {
  width: 100%;
  height: 3px;
  background-color: var(--prompt-color);
}
.arch-linux .workspace .terminal .information .prompt .right-triangle {
  width: 0;
  height: 0;
  border-right: 30px solid var(--prompt-color);
  border-top: 13px solid transparent;
  border-bottom: 13px solid transparent;
}
.arch-linux .workspace .terminal .information .prompt .right-side .check svg {
  color: var(--green-color);
} */

/** Music Player **/
.arch-linux .music-player {
  grid-area: music-player;
  align-self: center;
  background-color: var(--arch-linux-black-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin: 10px;
}
.arch-linux .music-player div:not(.player-controls) {
  display: flex;
  justify-content: center;
  align-items: center;
}
.arch-linux .music-player > div {
  padding: 0.5rem;
}
.arch-linux .music-player svg {
  height: 25px;
  color: var(--white-color-opacity-2);
}
.arch-linux .music-player .cover-art-image {
  width: 50px;
  height: 50px;
  color: var(--white-color);
}
.arch-linux .music-player .cover-art-image img {
  object-fit: cover;
  object-position: 50% 50%;
}
.arch-linux .music-player .details {
  max-width: 50px;
  max-height: 50px;
  flex-direction: column;
  overflow: scroll;
}
.arch-linux .music-player .details::-webkit-scrollbar {
  display: none;
}
.arch-linux .music-player .details .song {
  color: var(--white-color);
  text-align: center;
}
.arch-linux .music-player .details .artist {
  color: var(--second-color-gray-2);
  font-size: 0.7rem;
  text-align: center;
}
.arch-linux .music-player .player-controls {
  flex-grow: 1;
}
.arch-linux .music-player .player-controls .playback-bar {
  flex-grow: 1;
  color: var(--white-color);
  margin: 0 0 0.25rem 0;
}
.arch-linux .music-player .player-controls .playback-bar .playback-position {
  margin: 0 0.6rem 0 0;
}
.arch-linux .music-player .player-controls .playback-bar .playback-progressbar, .arch-linux .music-player .player-controls .playback-bar .playback-progressbar .playback-progressbar-progress {
  height: 4px;
  border-radius: 2px;
}
.arch-linux .music-player .player-controls .playback-bar .playback-progressbar {
  width: 80%;
  justify-content: flex-start;
  background-color: var(--white-color-opacity-1);
  position: relative;
}
.arch-linux .music-player .player-controls .playback-bar .playback-progressbar .playback-progressbar-progress {
  width: 0;
  background-color: var(--green-color);
}
.arch-linux .music-player .player-controls .playback-bar .playback-progressbar .playback-progressbar-thumb {
  width: 12px;
  height: 12px;
  background-color: var(--white-color);
  border-radius: 50%;
  position: absolute;
  left: -6px;
}
.arch-linux .music-player .player-controls .playback-bar .playback-progressbar .playback-progressbar-thumb:hover {
  transform: scale(1.25);
}
.arch-linux .music-player .player-controls .playback-bar .playback-duration {
  margin: 0 0 0 0.6rem;
}
.arch-linux .music-player .player-controls .general-controls > div {
  margin: 0.25rem 0.5rem 0;
}
.arch-linux .music-player .player-controls .general-controls .control-button-playpause .pause {
  display: none;
}