@charset "UTF-8";
/* General */
:root {
  --black-color: #000000;
  --gray-color: #0f0f12;
  --second-color-gray: #8b949e;
  --green-color: #98ca3f;
  --yellow-color: #fcee0a;
  --sky-blue-color: #2490fc;
  --white-color: #ffffff;
  --white-color-opacity: rgba(255, 255, 255, 0.5);
  --button-color-gradient: linear-gradient(to left, #439976, #90ad53);
  --facebook-color: #1278F3;
  --second--color-facebook: #385899;
  --twitter-color: #1da1f2;
  --spotify-color: #1ed760;
  --deezer-color: #a238ff;
  --youtube-color: #f00;
  --soundcloud-color: #f50;
  --telegram-color: #2496ff;
  --github-color: #010409;
  --gitlab-color: #e65328;
  --linkedin-color: #0a66c2;
}
/* @font-face {
  font-family: "Roboto";
  src: url("./typography/Roboto/Roboto-Light.ttf");
} */
* {
  padding: 0;
  margin: 0;
}
body {
  background-color: var(--primary-color);
  font-family: "Roboto", sans-serif;
}
body.dark-theme {
  --primary-color: var(--gray-color);
  --secondary-color: var(--white-color);
  --theme-btn-color: var(--gray-color);
  --border-color: rgba(255, 255, 255, 0.5);
}
body.light-theme {
  --primary-color: var(--white-color);
  --secondary-color: var(--black-color);
  --theme-btn-color: var(--white-color);
  --border-color: rgba(0, 0, 0, 0.75);
}
/* body::before {
  content: "";
  position: fixed;
  width: 250px;
  height: 250px;
  top: 0;
  left: 0;
  background-image: radial-gradient(farthest-side at top left, rgba(34, 91, 148, 0.15), transparent);
  z-index: -1;
}
body::after {
  content: "";
  position: fixed;
  width: 250px;
  height: 250px;
  bottom: 0;
  right: 0;
  background-image: radial-gradient(farthest-side at bottom right, rgba(36, 144, 252, 0.15), transparent);
  z-index: -1;
} */
/* Desktop */
/* @media screen and (min-width: 720px) {
  body::before, body::after {
    width: 500px;
    height: 500px;
  }
} */
/* Tablet */
/* @media screen and (max-width: 720px) and (min-width: 640px) {
  body::before, body::after {
    width: 350px;
    height: 350px;
  }
} */
/* Mobile */
/* @media screen and (max-width: 640px) {
  body::before, body::after {
    width: 200px;
    height: 200px;
  }
} */
body::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
body::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 10px;
}
body::-webkit-scrollbar-track {
  background-color: var(--white-color);
  border: 0.5px solid var(--border-color);
  border-radius: 10px;
}
body::-webkit-scrollbar-corner {
  background-color: var(--white-color);
}
/*
#particles-js {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
}
*/

/* Presentation */
.presentation {
  display: grid;
  grid-template-areas: "header"
                      "start"
                      "footer";
  /* background-image: url("./../img/wallpapers/street.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%; */
}
/* .transition-animation {
  transition: all 2s linear;
} */

/* Scroll */
.back-to-top {
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--secondary-color, #1a1a1a);
  background-color: var(--primary-color);
  border: 1px solid var(--border-color);
  position: fixed;
  right: 0.5rem;
  bottom: 0.5rem;
  z-index: 1;
  transform: scale(0, 0);
  transition: all 0.25s linear;
}
.back-to-top svg {
  width: 20px;
}
.show-back-button {
  transform: scale(1, 1);
}

/* Header */
.header {
  grid-area: header;
  width: 100%;
  /*background-color: rgba(32, 33, 36, 0.75);*/
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  transition: all 0.25s linear;
}
.header-background {
  background-color: rgba(0, 0, 0, 0.9);
  /* box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.25); */
}
/** Navigation menu **/
.header .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.25rem 0.5rem;
}
.header .logo a {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.header .logo a img {
  border-radius: 50%;
}
.header .social-networks {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .social-networks a {
  color: var(--white-color);
  font-size: 20px;
  border: 1px solid var(--white-color-opacity);
  text-decoration: none;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.25rem;
  transition: all 0.25s linear;
}
.header .social-networks a svg {
  width: 18px;
}
.header .social-networks a {
  margin: 0.25rem 0.5rem;
}
.header .social-networks a:nth-child(1):hover {
  background-color: var(--github-color);
  border: 1px solid var(--github-color);
}
.header .social-networks a:nth-child(2):hover {
  background-color: var(--spotify-color);
  border: 1px solid var(--spotify-color);
}
.header .theme {
  cursor: pointer;
  width: 50px;
  height: 25px;
  background-color: transparent;
  border: 1px solid var(--white-color-opacity);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  border-radius: 12.5px;
  margin: 0.5rem;
}
.header .theme div {
  width: 25px;
  height: 25px;
  background-color: var(--theme-btn-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  transition-property: left;
  transition-duration: 0.25s;
  transition-timing-function: linear;
}
.header .theme div.light-theme {
  left: 0;
}
.header .theme div.dark-theme {
  left: 25px;
}
.header .theme div svg {
  width: 16px;
  color: var(--yellow-color);
}

/* Start */
.start {
  grid-area: start;
  color: var(--white-color);
}
/** Information **/
.start .information {
  /*background-image: radial-gradient(farthest-side, rgba(36, 144, 252, 0.15), transparent);*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
}
.start .information .background {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  object-fit: cover;
  object-position: 50% 90%;
}
/** Desktop **/
@media screen and (min-width: 720px) {
  .start .information .background {
    height: 225px;
  }
}
/** Mobile **/
@media screen and (max-width: 720px) {
  .start .information .background {
    height: 175px;
  }
}
.start .information .avatar-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0 0 4.25rem 0;
}
.start .information .avatar-container .avatar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -67px;
}
.start .information .avatar-container .avatar img {
  border-radius: 50%;
  background-color: var(--primary-color);
  border: 3px solid var(--primary-color);
}
.start .information .avatar-container .avatar .status-container {
  width: 100%;
  position: relative;
}
.start .information .avatar-container .avatar .status-container .status {
  font-size: 0.9rem;
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--gray-color);
  border: 1px solid var(--white-color-opacity);
  box-shadow: 0 0 10px 0 rgb(0, 0, 0);
  border-radius: 30px;
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 0.25rem;
}
/** Desktop **/
@media screen and (min-width: 720px) {
  .start .information .avatar-container .avatar .status-container .status {
    bottom: 0;
    left: 95px;
  }
}
/** Mobile **/
@media screen and (max-width: 720px) {
  .start .information .avatar-container .avatar .status-container .status {
    bottom: 0;
    left: 0;
  }
}
.start .information .avatar-container .avatar .status-container .status span:nth-child(2) {
  width: 0;
  overflow: hidden;
  transition: all 0.25s linear;
}
.start .information .avatar-container .avatar .status-container .status:hover span:nth-child(2) {
  width: 100%;
}
.start .information .name {
  font-size: 20px;
  color: var(--secondary-color);
  margin: 0.25rem;
}
.start .information .username {
  font-size: 15px;
  font-weight: 300;
  color: var(--second-color-gray);
  /*text-shadow: 0 0 10px var(--sky-blue-color);*/
}
.start .information .description {
  margin: 0.25rem;
}
.start .information .description p {
  font-size: 16px;
  color: var(--secondary-color);
  text-align: center;
}
.start .information .description ul {
  list-style: none;
}
.start .information .description ul li {
  font-size: 15px;
  color: var(--second-color-gray);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.75rem 0;
}
.start .information .description ul li svg {
  width: 11px;
}

/* Footer */
.footer {
  grid-area: footer;
  color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
  align-items: center;
}
.footer ul li {
  margin: 0.5rem;
}
.footer ul li a {
  font-size: 16px;
  color: var(--secondary-color);
  text-decoration: none;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 0.75rem;
  transition: all 0.25s linear;
}
.footer ul li a svg {
  width: 18px;
}
.footer ul li a:hover {
  color: var(--white-color);
}
.footer ul .facebook a:hover {
  background-color: var(--second--color-facebook);
}
.footer ul .twitter a:hover {
  background-color: var(--twitter-color);
}
.footer ul .spotify a:hover {
  background-color: var(--spotify-color);
}
.footer ul .deezer a:hover {
  background-color: var(--deezer-color);
}
.footer ul .youtube a:hover {
  background-color: var(--youtube-color);
}
.footer ul .soundcloud a:hover {
  background-color: var(--soundcloud-color);
}
.footer ul .telegram a:hover {
  background-color: var(--telegram-color);
}
.footer ul .github a:hover {
  background-color: var(--github-color);
}
.footer ul .gitlab a:hover {
  background-color: var(--gitlab-color);
}
.footer ul .linkedin a:hover {
  background-color: var(--linkedin-color);
}
.footer .footer-line {
  width: 100px;
  height: 2px;
  background-image: var(--button-color-gradient);
  border-radius: 1px;
}
.footer .copyright {
  font-size: 16px;
  padding: 1rem;
}